.App {
  display: flex;
  text-align: center;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.ty{
  margin-top: 120px;
  
}
.bb{
  justify-content: space-between;
  word-spacing: 80px;
  margin-left: 5.6rem;
}
.tt{
  margin-top: -15px;
  width: 150%;
  margin-left: 55px;
}
.first{
 margin-top: 3.6rem;

}

.text-annotation{
  font-size: 1.7rem;
  font-weight: bolder;
}
.pdf{
  border: 3px solid black;
  margin-left: 25.5rem;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
